name: Django CI

on:
  push:
    branches:
      - tama

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        cd HospitalManagement
        python -m pip install --upgrade pip

    - name: Run tests
      run: |
        python manage.py test
